/* profile.css */
.usrePost-Area {
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
}

.profile-area {
    border: 1px solid #444;
    max-width: 768px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    border-bottom: 1px dashed #111;
    height: 110px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px;
}

.add-post:hover {
    background-color: #fff;
    color: #111;
    border: 1px solid #111;
}

.profile-body {
    display: flex;
    padding: 5px;
    gap: 22px;
    row-gap: 6px;
    flex-wrap: wrap;
    flex: 1; /* Allow the body to grow and fill available space */
    min-height: 0; /* Allow the flex container to adjust */
}

@media (max-width: 500px) {
    .profile-body {
        justify-content: center;
    }
}

/* Footer styling */
footer {
    background-color: #1a1a1a;
    color: #ccc;
    padding: 20px 0;
}
